.spel {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }

  .motsåtndare, .spelare {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
    margin-top: 10px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
  }

  .hp-count {
    background-color: #ccc;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
  }

  .namn {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }

  .spelare img {
    max-width: 100%;
  }

  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .message {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 80%;
  }

  .attacker {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
  }

  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }

  button:hover {
    background-color: #ccc;
  }

  .fortsätt {
    width: 80%;
    text-align: center;
  }

  button {
    background-color: green;
    color: white;
  }

  button:hover {
    background-color: #009900;
  }

  button:active {
    background-color: #007700;
    transform: translateY(2px);
  }